.guruweba_example_form {
    width: 290px;
    margin: 0px auto;
    padding: 5vw 0;
  }
.guruweba_example_form>div{
    color: #fff;
}
  .guruweba_example_caption {
    font-size: 24px;
    text-align: center;
  }
  .guruweba_example_form .guruweba_example_infofield {
    margin-top: 10px;
    font-weight: bold;
  }
  .guruweba_example_form select, .guruweba_example_form input, .guruweba_example_form textarea {
    width: 100%;
    margin: 5px 0;
    padding: 5px 15px;
  }